<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <entityFramework>
    <providers>
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6" />
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <connectionStrings>
	 
    <add name="Incidencias_Infor.Properties.Settings.incidencias_informaticasConnectionString" connectionString="server=localhost;user id=root;password=mysql;persistsecurityinfo=True;database=incidencias_informaticas" providerName="MySql.Data.MySqlClient" />
	<add name="incidenciasEntities" connectionString="metadata=res://*/Backend.Modelo.ModelIncidencias.csdl|res://*/Backend.Modelo.ModelIncidencias.ssdl|res://*/Backend.Modelo.ModelIncidencias.msl;provider=MySql.Data.MySqlClient;provider connection string=&quot;server=localhost;user id=root;password=mysql;persistsecurityinfo=True;database=incidencias_informaticas&quot;" providerName="System.Data.EntityClient" />

	  <add name="incidencias" connectionString="Server=localhost;Database=incidencias_informaticas;Uid=root;Pwd=mysql" providerName="MySQL" />
  </connectionStrings>
</configuration>